@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.portfolio-con{
    padding: 1px;
}
.section-header{
    font-size: 1.2rem;
    color: rgb(36, 38, 39);
    padding-left: 20px;
    padding-top: 25px;
}

.hero-section{
    height: 300px;
    width: 100%;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-style{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 75%;
}
.name-text{
    padding-top: 1rem;
    color: rgb(0, 153, 255);
}
@media(min-width:536px){
    .hero-section{
        height: 100vh;
    }
    .name-text{
        font-size: 2rem;
        padding-bottom: 0.2rem;
    }
}

.about-section{

}
.about-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 90%;
}
.info-card{
    background-color: white;
    margin: 1rem;
    padding: 1.2rem;
    border: 1px solid rgb(189, 187, 187);
    border-radius: 25px;
}
.my-self-text{
    line-height: 1.5;
    font-size: 1rem;
}

@media(min-width:536px){
    .about-section{
        height: 100vh;
        background-color: rgb(232, 250, 250);
    }
    .info-card{
        margin: 0.5rem;
        padding: 2rem;
        width: 500px;
        height: 250px;
    }
    .my-self-text{
        text-align: left;
        line-height: 1.9;
        font-size: 18px;
        margin-bottom: 1.5em;
        padding-top: 15px;
    }
}

.projects-container{
    padding: 2px;
}
.project-card{
    padding-top:12px;
    padding-bottom: 12px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    margin: 2rem;
    border: 2px solid rgb(211, 201, 201);
    border-radius: 15px;
    
}
a{
    text-decoration: none;
    color: default;
}
.project-name{
    padding-top: 1rem;
    color: black;
}
.project-desc{
    padding-top: 0.5rem;
    padding-left: 12px;
    padding-right: 12px;
    line-height: 1.5;
    color: black;
    text-decoration: none;
}
.view{
    background: rgb(24, 140, 248);
    color: white;
    padding: 0.5rem;
    border: none;
    border-radius: 8px;
    align-self: flex-start;
    margin-top: 8px;
    margin-left: 12px;
}
@media(min-width:536px){
    .projects-container{
        height: 100vh;
        background-color: rgb(244, 250, 255);
    }
    .project-card{
        height: 300px;
        width: 350px;
        padding-top: 12px;
        transition: 250ms;
        cursor: pointer;
    }
    .project-card:hover{
        transform: scale(1.1);
    }
}

.project-thumb{
    height: 150px;
    width: 150px;
}

.contact-form-sec{
    padding-bottom: 2rem;
}

.contact-section{
    display: flex;
    justify-content: center;
}

.form-container{
    display: flex;
    width: 80%;
    flex-direction: column;
    border: 1px solid rgb(197, 179, 179);
    padding: 1rem;
    border-radius: 8px;
    margin-top: 15px;
}

.form-container input,textarea{
    padding: 0.5rem;
    border: 1px solid rgb(138, 145, 245);
    border-radius: 8px;
    outline: none;
}
.form-container label{
    font-size: 1rem;
    padding-top: 12px;
    padding-bottom: 12px;
}

@media(min-width:536px){
    .contact-form-sec{
        padding-bottom: 5rem;
    }
    .form-container{
        width: 50%;
    }
    .form-container label{
        font-size: 1.5rem;
    }
    .form-container input,textarea{
        padding: 1rem;
        border: 2px solid rgb(252, 216, 216);

    }
}