<section class="about-section">
    <h1 class="section-header">About Me</h1>
    <div class="about-cards">
        <div class="info-card">
            <h3>My Role</h3>
            <p class="my-self-text">I'm passionate and solution-oriented Full-Stack Developer with hands-on experience in designing,
            developing,and deploying scalable web applications.</p>
        </div>
        <div class="info-card">
            <h3>Tech Stack</h3>
            <p class="my-self-text">My expertise spans across frontend
            technologies like React.js- HTML,CSS,and Javascript as well as backend technologies including Node.js,
            Express.js and MongoDB and MySql.</p>
        </div>
        <div class="info-card">
            <h3>Tech Familiar</h3>
            <p class="my-self-text">I'm also familiar with Typescript,RESTful APIs,
        JWT Authentication,and real-time applications using webSockets.</p>
        </div>
    </div>
</section>