<section class="projects-container">
    <h1 class="section-header">My Projects</h1>
    <div class="about-cards">
        <a href="https://event-mongo-client.vercel.app/login" target="_blank">
            <div class="project-card">
                <img class="project-thumb" src="https://res.cloudinary.com/dgtajgxpo/image/upload/v1740313570/gxo7arrbynz1v67u8pdj.jpg"/>
                <h4 class="project-name">Stremaing Events</h4>
                <p class="project-desc">A fullstack web application implemented RESTapi's,Responsive in all devices</p>
                <button class="view">View</button>
            </div>
        </a>
        <a href="https://text-gen-five.vercel.app/" target="_blank">
        <div class="project-card">
            <img alt="" class="project-thumb" src="https://res.cloudinary.com/dgtajgxpo/image/upload/v1740313569/qf7h4iigdxor2h098gss.jpg"/>
            <h4 class="project-name">AI Text</h4>
            <p class="project-desc">Chat-GPT based product implemented Google Gemini API</p>
            <button class="view">View</button>
        </div>
        </a>
    </div>
</section>